/* The style for the login component */
/*
  TODO: Edit By Kehinde Faleye;

*/
#text {
  margin-top: 20px;
}

.link {
  color: green;
}

.link:hover {
  text-decoration: none;
  color: rgb(5, 150, 5);
  font-weight: 450;
}

#btn {
  font-weight: 500;
}

#h5 {
  font-size: 1.7rem;
  color: #3d3d3c;
}