/* Style component for the navbar object */
/* TODO: Edit By Kehinde Faleye
  
*/
#navbar {
  height: 60px;
  background-color: #218738;
}

#brand {
  display: grid;
  width: -webkit-fill-available;
  grid-template-columns: .1fr 3fr;
  grid-template-rows: 60px;
}

#logo {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

#logoLink {
  font-weight: bold;
  display: flex;
  align-items: center;
}

/*
link: {
  
  // background: '#218838',
  // margin: '5px 5px',
  // padding: '5px 15px',
  // borderRadius: '5px',
  // color: 'white',
  // width: '100%',
  // textDecoration: 'none',
  // fontWeight: '500',
  // fontSize: '0.9rem'
  color: 'white',
  fontWeight: '500',
  fonSize: 'smaller'
},
*/
#banner {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: xx-large;
  font-weight: 100;
}

#banner:hover {
  font-weight: 350;
}