/* Style component for the navbar object */
/* TODO: Edit By Kehinde Faleye
  
*/
#navbar {
  background-color: #f4f3ef;
}

#brand {
  margin: -80px 0 -80px;
}

#logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

#logoLink {
  font-weight: bold;
}

/*
link: {
  
  // background: '#218838',
  // margin: '5px 5px',
  // padding: '5px 15px',
  // borderRadius: '5px',
  // color: 'white',
  // width: '100%',
  // textDecoration: 'none',
  // fontWeight: '500',
  // fontSize: '0.9rem'
  color: 'white',
  fontWeight: '500',
  fonSize: 'smaller'
},
*/
#banner {
  text-decoration: none;
  display: flex;
  align-items: center;
}

